/* Mobile first */
body {
    font-size: 62.5%;
}

html {
    background-color: #83c05b;
}

.logo img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.lista {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.lista li {
    border-radius: 10px;
    border: 2px solid #54860e;
    background-color: #9dcd7c;
    padding: 0.5rem;     
}

.maincontent {
    font-size: 1.0rem;
}

h3 {
    font-size: 1.5rem;
}

figure {
    display: block;
} 

figure img {
    max-width: 100%;
}

.vision {
    display: flex;
    flex-direction: row;
}

.vision > * {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.vision h3 {
    flex-grow: 3;
}

.vision figure {
    display: none;
}

.specials {
    margin-top: 2rem;
    background-color: #cbcbcb;
}

.material-icons {
    float: right;
}

 .tasty-picture {
    max-width: 100%;
}

.events {
    background-color: #cbcbcb;
}

.news {
    background-color: #cbcbcb;
}

.date {
    font-weight: bold;
}

footer {
    color: white;
    font-size: 1rem;
}

.musta {
    color: black;
}

header, nav, main, footer, .vision {
    margin-bottom: 0.5rem;
}

#boxes h3 {
    background-color: lightgray;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#boxes section {
    background-color: white;
    border: white 0.5rem solid;
    margin-bottom: 0.5rem;
}

/* tabletin säännöt */

@media only screen and (min-width: 426px) {
    body {
      background-color: #83c05b;
    }
    .lista {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lista li {
        flex-basis: 0;
        flex-grow: 1;
    }
    #boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #boxes section {
        flex-grow: 1;
        flex-basis: 0;
    }

    #boxes #news {
        flex-basis: 100%;
    }
    .logo img {
        width: auto;
        margin-left: initial;
    }
    .vision figure {
        display: block;
    }
    .vision {
        background-color: white;
    }
    .vision section {
       background-color: #efecdd;
       display: flex;
       justify-content: center; 
       align-items: center;
       margin-right: -0.5rem
    }
   }


  /* desktopin säännöt */

@media only screen and (min-width: 769px) {
    body {
      background-color: #83c05b;
    }
    #body {
        margin: 0;
    }
    #boxes #news {
        flex-basis: 0;
        font-size: 1.3rem;
    }
    .maincontent {
        padding: 1rem;
    }
    .lista {
        font-size: 2rem;
        padding: 1rem;
    }
    .lista li {
        padding: 1rem;
    }
    footer {
        font-size: 1.5rem;
        padding: 1rem;
    }
    h2 {
        font-size: 2rem;
    }
  }