body {
    
}

.tausta {
    background-color: #f2efef;
    padding: 2rem;
}

button {
    background-color: #483c8a;
    color: white;
    margin-left: 1.5rem;
    padding: 0.7rem;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 1rem;
}

li {
    font-family: 'Courier New', Courier, monospace;
}

